<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }
    </style>
</head>
<body>
<h1>hello</h1>
<h2 class="h2-text">World</h2>
<p id="p1">Переменные <span style="color: brown">окружения (.env):</span> Никогда не отправляйте файлы с паролями,
    токенами и ключами от баз данных в Git. Шаблон
    !.env.example полезен — он позволит загрузить в репозиторий «пустышку» (инструкцию для других разработчиков, какие
    переменные нужно создать).</p>

<a href="https://www.python.org/" target="_blank">Python</a>

<p></p>
<img src="https://www.python.org/static/img/python-logo.png" alt="python.png" style="width: 250px">
<label>
    Текст:
    <textarea placeholder="text"></textarea>
</label>

<label>
    Электронная почта:
    <input placeholder="email" type="email">
</label>

<form action="/submit" method="POST">
    <label>
        <input type="text" name="username" placeholder="username">
    </label>
    <button type="submit">Отправить</button>
</form>


<table>
    <thead>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
    </tr>
    </thead>
    <thead>
    <tr>
        <td>Ячейка 3</td>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
    </tr>
    </thead>
</table>
</body>
</html>